<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>

<body hx-boost="true">

    <div class="body-container">
        <div id="main-container" class="main-container">

            <h1>
                Ixian
            </h1>

            <section>
                View your articles published on <a href="https://www.nostr.com">nostr</a> in read-only mode from any web browser.
                Simply enter your <em>npub</em> and press Enter. You can then search for specific articles by filtering keywords in your content.
            </section>

            <div class="search">
                <form class="search-container"
                    hx-get="/pull"
                    hx-target="#main-container"
                    hx-swap="outerHTML">

                    <input class="search-bar" name="npub" type="search" placeholder="Paste npub and Enter"
                        hx-get="/validate"
                        hx-target="next .message"
                        hx-trigger="keyup delay:200ms changed"
                    />
                </form>
                <small class="message"></small>
            </div>

            <h1>
                Focus
            </h1>

            <section>
                The focus is to get the article you want in front of you ASAP. Therefore, this is a static site. All content is rendered server-side.
                No client-side JavaScript bullshit.
            </section>

            <h1>
                Notes
            </h1>

            <ul>
                <li>You cannot edit your articles</li>
                <li>Instead of using broken HTTP links or, god forbid, relative paths to <em>.md</em> files, reference notes with <a href="https://github.com/nostr-protocol/nips/blob/master/21.md">NIP-21</a> links.</li>
            </ul>

        </div>

        <footer>
            <p>Made with <i class="fas fa-heart"></i> by <a href="https://github.com/dextryz">dextryz</a></p>
        </footer>
    </div>

</body>

</html>

